.container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 2px 2px 7px grey;
}
.container .post {
    width: 90%;
    box-shadow: 2px 2px 7px grey;
    padding: 20px;
    margin: 20px auto;
}
.container input {
    width: 600px;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 20px;
}
.container button {
    margin-left: 50px;
    width: 70px;
    height: 29px;
}